body {
	font-size: 15pt;
}


h1{
	font-size: 26pt;
}

h3{
	margin-top: 0;
	margin-bottom: 15px;
}

.itemTemplateWrapper {
	border: 1px solid gray;
	padding: 5pt;
	margin-top: 10px;
	width: auto;
	display: block;
}

